In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 조건문

In [1]:
grade = int(input("성적입력>>>"))

if grade >= 90:
    print("A grade")
elif grade >= 80:
    print("B grade")
elif grade >= 70:
    print("C grade")
else:
    print("Nuts")

성적입력>>>76
C grade

### 반복문

In [4]:
movie_list = ["미나리", "조커", "경계선", "스타워즈"]

i = 0
while i < len(movie_list):
    print(movie_list[i])
    i += 1
    
print('*' * 40)

for i in range(len(movie_list)):
    print(movie_list[i])

print('*' * 40)

for movie in movie_list:
    print(movie)

미나리
조커
경계선
스타워즈
****************************************
미나리
조커
경계선
스타워즈
****************************************
미나리
조커
경계선
스타워즈

In [7]:
# 입력 값(3,4,5,6)의 합 구하기
data = input("키보드로 정수 값을 입력하세요").split(',')

total = 0
for x in data:
    total += int(x)
print("총합 :", total)

print('*' * 40)
    
total = 0
for i in range(len(data)):
    total += int(data[i])
print("총합 :", total)

키보드로 정수 값을 입력하세요3,4,5,6
총합 : 18
****************************************
총합 : 18

In [12]:
data

intData = [int(x) for x in data]
intData

print("총합 :", sum(intData))

['3', '4', '5', '6']

[3, 4, 5, 6]

총합 : 18

In [13]:
numList = [5, 10, 11, 3, 2, 100]
resultList = ['짝' if x % 2 == 0 else '홀' for x in numList]
resultList

['홀', '짝', '홀', '홀', '짝', '짝']

#### 이차원 배열에 for 사용하기, 이중 for문

In [14]:
for i in range(5):
    print(i, end='\t')

0	1	2	3	4

In [15]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
len(matrix)
matrix

3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
for x in matrix:
    print(x)
    
print('*' * 40)
    
for x in matrix:
    for y in x:
        print(y, end='\t')
    print()

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
****************************************
1	2	3
4	5	6
7	8	9

#### while True

In [20]:
# 1부터 100까지 합 구하기
total = 0
i = 1
while i <= 100:
    total += i
    i += 1
print("1부터 100까지 합 :", total)
    
total = 0
i = 1
while True:
    if i == 101: break
    total += i
    i += 1
print("1부터 100까지 합 :", total)

1부터 100까지 합 : 5050
1부터 100까지 합 : 5050

#### continue, break, pass

In [22]:
for i in range(10):
    if i == 2:
        print("continue...loop")
        continue
    if i == 6:
        print("break...loop")
        break
    if i == 4:
        print("pass...loop")
        pass
    print(i)

0
1
continue...loop
3
pass...loop
4
5
break...loop

In [23]:
import random
com = random.randrange(1, 101) # 1~100까지 숫자 중에서 임의의 정수 하나를 리턴
com

3