## 함수
#### 머신, 딥러닝 코드를 다루다 보면 함수 정의 부분이 중요하다
    1. 함수 정의 기본 문법
       def 함수이름(매개변수):
           수행할 문장1
           수행할 문장2
    2. 함수를 만드는 방법 4가지
        1)위치매개변수
        2)기본매개변수
        3)키워드매개변수
        4)가변매개변수

In [1]:
# 1. 위치매개변수
# 가장 기본적인 인자값 전달방식. 함수에서 정의한 위치대로 인자값이 할당됨
def calc(num1, num2):
    '''
    인자값으로 받은 num1, num2
    2개의 값을 더해서 result  로컬변수에 할당
    그 값을 리턴하는 기능을 구현
    '''
    
    result = num1 + num2
    return result

print(calc(3, 5))

8

In [2]:
# 리턴값이 없는 경우
def add(a,b):
    print('%d와 %d의 합은 %d입니다.' %(a,b,(a+b)))
    '''
    return문 자체가 없으면 함수는 None객체를 리턴한다.
    '''

print(add(3,4))

3와 4의 합은 7입니다.
None

In [3]:
# 2. 기본매개변수
# 변수값을 입력하지 않으면 기본값이 활성화됨.
# 기본매개변수는 반드시 일반매개변수 뒤에 나와야 한다.

def calc1(end, start=0):
# def calc1(start = 0,end):
    total = 0
    for i in range(start, end):
        total += i
    return total

print(calc1(5, 1))
print(calc1(5)) #에러나지 않는다...기본값이 활성화되어져서 돌아간다

10
10

In [4]:
# 실제로 기본매개변수 사용이 많이 있다.
import pandas as pd
from pandas import DataFrame

pd.read_csv?

In [5]:
# 3. 키워드매개변수 : 순서에 상관없이 직접 매개변수를 지정해서 전달한다
# 주의할 점은 함수 호출시에 매개변수명을 정확히 알아야 한다.
def calc2(name, age):
    print('나의 이름은 ',name,'이고 나이는 ',age,'입니다.')
calc2('홍길동',19) #위치매개변수

calc2(30,'홍길동') # 에러는 안나고 단기 잘못된 값이 전달된다.
calc2(age=30, name='홍길동') #키워드 매개변수

나의 이름은  홍길동 이고 나이는  19 입니다.
나의 이름은  30 이고 나이는  홍길동 입니다.
나의 이름은  홍길동 이고 나이는  30 입니다.

In [6]:
# 키워드매개변수 사용 예
import numpy as np
import pandas as pd
from pandas import DataFrame
df1=DataFrame(
    np.random.randn(4,4),
    columns = list('efgh'),
    index = list('abcd')
)
df1

          e         f         g         h
a -0.233607 -0.460379  1.137894  1.814517
b  0.189004 -1.202474 -0.245191  0.800367
c -0.688382 -0.404849 -1.911426 -2.622643
d -1.864081  0.213671  0.399415 -0.386413

In [7]:
# 4. 가변매개변수 : 인자 값이 몇 개인지 모르는 상황에서 사용
# 파이썬에서 print() 함수가 대표적이다.
# 일반매개변수와 다르게 변수명 앞에 *을 붙임
# 역시 가변매개변수 뒤에 일반(위치)매개변수가 올 수 없다.
# 가변매개변수는 하나만 사용해야 한다.

def calc3(*args):
    print(args)
calc3(3)
calc3(3, 4, 5, 6) # 출력은 튜플 타입으로 된다.

(3,)
(3, 4, 5, 6)

In [8]:
# 5.
def calc4(**args):
    print(args)
    
# calc4(1, 2) # 에러남
# **args에는 딕셔너리를 인자로 넣어야한다.

calc4(name="James", age=44, address="NY")

{'name': 'James', 'age': 44, 'address': 'NY'}

In [9]:
#일반 매개변수와 가변매개변수를 함께 사용하는 경우
def calc5(name, *args):
    print(name, ':', args)
calc5('james', 3,4,5)

james : (3, 4, 5)

In [10]:
def value_times(times, *values):
    for value in values:
        print(times * value)
        
value_times(3, 1,2,3,4,5)

3
6
9
12
15

#### 모듈 사용하기
    다른 곳에 정의된 모듈을 받아올 때는 import 사용한다.

In [11]:
import cal

In [13]:
var1 = cal.modulename
var2 = cal.plus(3, 4)
var3 = cal.minus(7, 2)

print(var1, var2, var3)

CUSTOM_MODULE 7 5

In [14]:
from cal import plus, minus

var22 = plus(3, 4)
var33 = minus(7, 2)

print(var22, var33)

7 5

In [16]:
from random import randrange

num = randrange(1, 10)
num

9