### iris 데이터 셋은 속성을 잘 뽑은 데이터다.

### 1. module configuration

In [1]:
import pandas as pd
from sklearn.svm import SVC

### 2. Data Loader

In [2]:
csv = pd.read_csv('../data/iris.csv')
csv

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

### 3. Data Split - feature | label

In [3]:
label = csv['variety']
label.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [4]:
feature = csv.loc[:, 'sepal.length':'petal.width']
feature.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Shuffle이 필요하다.

### 4. Model Generate and Training

In [5]:
model = SVC() # svm 모델을 생성
model.fit(feature, label) # 지도학습이기 때문에 학습시 속성과 라벨을 동시에 넣어준다

SVC()

### 5. Predict

In [6]:
pred = model.predict([
    [5.2, 3.4, 1.2, 0.3],
    [2.5, 0.4, 12.3, 4.0],
    [1.2, 6.3, 2.4, 12.8]
])
pred

array(['Setosa', 'Virginica', 'Virginica'], dtype=object)