### 1. Module Configuration

In [1]:
import pandas as pd
from sklearn.svm import SVC

# 추가
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### 2. Data Loader

In [2]:
csv = pd.read_csv('../data/iris.csv')
csv.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
csv.shape

(150, 5)

### 3. Data Split and Shuffle - feature | label -> training data | test data

In [4]:
label = csv['variety']
label.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [5]:
feature = csv[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
feature.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
# 이 부분은 파이썬에서만 가능...
def sum_and_multiply(a, b):
    return a + b, a * b

result = sum_and_multiply(10, 20)
print(result)

res1, res2 = sum_and_multiply(10, 20)
print(res1)
print(res2)

(30, 200)
30
200

In [7]:
# split&shiffle - training data | test data
train_feature, test_feature, train_label, test_label = train_test_split(feature, label)
train_label # 112개, 75%

118     Virginica
95     Versicolor
27         Setosa
60     Versicolor
54     Versicolor
          ...
146     Virginica
76     Versicolor
50     Versicolor
23         Setosa
8          Setosa
Name: variety, Length: 112, dtype: object

### 4. Model 생성 및 학습

In [8]:
model = SVC()
model.fit(train_feature, train_label)

SVC()

### 5. 예측하기

In [9]:
pred = model.predict(test_feature)
pred

array(['Setosa', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Setosa', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Virginica', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Versicolor'], dtype=object)

In [10]:
performance = (pred == test_label).sum() / test_label.size
performance

0.9473684210526315

In [11]:
accuracy_score(test_label, pred)

0.9473684210526315